:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f12121;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    width: 400px;
    height: 350px;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    border-radius: 5px;
    animation: growth linear 0.1s;
}

.grid_column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid_column-2 {
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;
}