.user-icon {
    display: inline-block;
    /* Display as an inline block */
    margin-right: 20px;
    /* Add margin for spacing */
}

.user-icon img {
    width: 40px;
    /* Adjust width as needed */
    height: 40px;
    /* Adjust height as needed */
    border-radius: 50%;
    /* Make the icon circular */
}

.user-icon img:hover {
    opacity: 0.8;
    /* Slightly reduce opacity on hover */
}